# --- NAS DEPLOYMENT CONFIG ---
NAS_USER=your_user
NAS_IP=192.168.1.10
NAS_DEST_PATH=/volume1/scripts/synofoto-graph-sync

# --- DATABASE CONFIG ---
PG_DB=synofoto
PG_USER=postgres
PG_HOST=/run/postgresql/
PG_PORT=5432

# Graph Database (Memgraph / Neo4j)
GRAPHDB_URI=bolt://localhost:7687
GRAPHDB_USER=neo4j
GRAPHDB_PASSWORD=your_password

PHOTO_ROOT=/volume1/photo
